extends layout

block content
    .container.p-3
        .row
            .col
                h1 Edit Article
                h3.text-md-right Article by #{user.name}
                form(action="/articles/edit/"+article._id, method='post')
                    .form-group
                        label(for="title") Title
                        input(type="text", name="title", value=article.title).form-control#title
                    .form-group
                    .form-group
                        label(for="body") Body
                        textarea(name="body", cols="30", rows="5").form-control#body= article.body
                    input(type="submit" value="Update Article").btn.btn-outline-primary
